@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.logo-header,
.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-header-second {
  color: #212121;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.link:hover,
.link:focus,
.link-nav:hover,
.link-nav:focus,
.contact-method:hover,
.contact-method:focus {
  color: #2196f3;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.project-type {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  background: #f5f4fa;
  cursor: pointer;
}

.project-type:hover,
.project-type:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
}

.image-logo {
  width: 370px;
  height: 294px;
}

.image-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.image-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-section {
  background: #2f303a;
}

.logo-footer-second {
  color: #ffffff;
}

.adress-line {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-method {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.main-section {
  background: #2f303a;
}
