@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

.container {
  margin: 0 auto;
  width: 100%;
}

.main-section {
  padding: 94px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.unstyled-list {
  list-style: none;
}

html {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.our-team-section_item .employee_details .image-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-section_item .employee_details .image-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.our-team-section_item .employee_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-team-section_item picture {
  max-width: 100%;
}

.our-team-section__item {
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.our-team-section {
  background: #f5f4fa;
}

.what-we-do-section_list:nth-child(1) {
  z-index: 1;
}

.what-we-do-section_list:nth-child(2) {
  z-index: 2;
}

.what-we-do-section_list {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: #2f303acc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.what-we-do-section_list,
.our-team-section_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.what-we-do-section .section_subtitle,
.our-team-section .section_subtitle,
.section_subtitle {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}
